{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('admins.admin_create') }}">CREATE OFFER</a>
              </div>
            </div>
        </article>
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('admins.admin_update') }}">UPDATE OFFER</a>
              </div>
            </div>
        </article>
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('admins.admin_delete') }}">DELETE OFFER</a>
              </div>
            </div>
        </article>
{% endblock content %}