{% extends "layout.html" %}
{% block content %}
        {% for joboffer in joboffers.items %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ joboffer.city }}</a>
              </div>
              <h1><a class="article-title" href="{{ url_for('joboffer.view_job', recruitee_id=joboffer.recruitee_id) }}">{{ joboffer.title }}</a></h1>
              <h2>Description: </h2>
              <p class="article-content">{{ joboffer.description }}</p>
              <h2>Requirements: </h2>
              <p class="article-content">{{ joboffer.requirements }}</p>
            </div>
            {% if current_user.is_authenticated %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('admins.admin_update', recruitee_id=joboffer.recruitee_id) }}">Update</a>
                <a class="btn btn-danger btn-sm m-1" href="{{ url_for('admins.admin_delete', recruitee_id=joboffer.recruitee_id) }}">DELETE</a>
              </div>
            {% endif %}
          </article>
        {% endfor %}
        {% for page_num in joboffers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if joboffers.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
{% endblock content %}
